---
import '../../../style/global.css';
import type { MarkdownInstance } from 'astro';
import getSlugFromPath from '../../../utils/getSlugFromPath';
import PostHeader from '../../../components/PostHeader.astro';

export async function getStaticPaths() {
	const allPosts = await Astro.glob('../../*.md');

	const paths = allPosts.map((post) => {
		const slug = getSlugFromPath(post.file);
		return {
			params: {
				slug,
			},
			props: {
				post,
			},
		};
	});

	return paths;
}

interface Props {
	post: MarkdownInstance<Record<string, any>>;
}

const { post } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{post.frontmatter.title}</title>
	</head>
	<body>
		<div class="sm:flex sm:justify-center w-full h-full">
			<article
				class="prose prose-lg text-black lg:prose-xl xl:prose-2xl mx-4 pb-10 xl:max-w-none xl:w-[70rem]"
			>
				<PostHeader
					title={post.frontmatter.title}
					date={post.frontmatter.date}
				/>
				<post.Content />
			</article>
		</div>
		<div
			class="font-bold text-base md:text-lg xl:text-xl absolute left-0 p-5 z-10"
		>
			<a href="/blog"> &#8592 Back to Farouk's blog</a>
		</div>
	</body>
</html>
