---
import '../style/global.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<title>Farouk's blog</title>
	</head>
	<body>
		<main class="h-full w-full">
			<div class="absolute right-0 z-10 p-5 font-bold text-xl text-right">
				<a class="text-slate-800" href="https://github.com/Faroukhamadi"
					>Github</a
				>
				<br />
				<a class="text-slate-800" href="https://twitter.com/FaroukHamadii"
					>Twitter</a
				>
				<br />
				<a rel="prefetch" class="text-slate-800" href="/links">More</a>
			</div>
			<div class="text-slate-800 flex flex-col text-center items-center"></div>
			<div class="mt-44 text-slate-800 flex flex-col text-center items-center">
				<h1 class="text-4xl font-bold pt-2">Farouk's Homepage</h1>
				<p class="text-base mt-5 xl:text-lg px-8">
					Nothing to see Here, You're probably looking for...
				</p>
				<a class="text-lg" href="/links">Farouk (Student @ ISI Ariana)</a>
			</div>
		</main>
	</body>
</html>
