<div class="w-48 xl:w-96">
	<div class="flex-shrink-0 w-full rounded-full overflow-hidden aspect-square">
		<picture class="z-10">
			<source type="image/webp" srcset="images/me.webp" />
			<img src="images/me.jpg" />
		</picture>
	</div>
</div>
